@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
:root{
  --clr--Violet: hsl(257, 40%, 49%);
--clr--Soft--Magenta: hsl(300, 69%, 71%);
--ff-poppins:'Poppins', sans-serif;
--ff-Open-Sans:'Open Sans', sans-serif;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin-top: 3rem;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  border-radius: 25px;
  padding: 0.75rem 3.5rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--ff-poppins);
  cursor: pointer;
  /* customize */
  background-color: #fff; 
  color: var(--clr--Violet);
  border: 2px solid #fff;
  
}

.btn:hover{
  background-color: var(--clr--Soft--Magenta);
  color: #fff;
  border: 2px solid var(--clr--Soft--Magenta);
}
/*huddle page css */
body{
  background-image: url('../images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top  ;
  background-color: var(--clr--Violet);
  
}
.navbar{
  width: 100%;
  height: auto;
}
.logo{
width: 140px;
}
.header{
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  padding: 1rem 4rem;
}

.header-left-container{
padding: 1rem;
}
.header-right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.header-title{
color: #fff;
width: 80%;
font-size: 2rem;
font-family: var(--ff-poppins);
line-height: 1.5;
text-align: center;
gap: 2rem;

}
.header-description{
  color: #fff ;
  font-size: 1rem;
  font-family: var(--ff-Open-Sans);
  line-height: 1.5;
  width: 68%;
  text-align: center;
  gap: 3rem;
  
}
.footer{
  height:auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  
}
.icon-list{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  gap:1.5rem;
}
.icons{
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon{
  color: #fff;
  width: 100%;
  height:3rem;
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  display:flex;
  align-items: center;
  justify-content: center;
  
  
}
.icon:hover{
  color: var(--clr--Soft--Magenta);
  border: 2px solid var(--clr--Soft--Magenta);
}
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */


@media (min-width: 991px) { 
  body{
  margin-top: 3rem;
  background-image: url('../images/bg-desktop.svg');
}
.header{
  flex-direction: row;
  width: 100%;
  height: auto;
}
.header-left-container{
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
}
.header-right-container{
  width: 40%;
  justify-content: flex-start;
  align-items: flex-start;

}
.header-title{
  text-align: start;
  width:85%;
}
.header-description{
  text-align: start;
  width: 101%;
}
.btn{
  text-align: start;
}
.navbar{
  height: 6rem;
  width: 100%;
  margin-left: 5rem;
  
}
.logo{
  width: 12rem;
}
.icon-list{
  justify-content: flex-end;
  margin-right: 2.5rem;
  margin-bottom: 3.5rem;
  
}
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
cutom CSS.txt
Displaying cutom CSS.txt.